/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts here. */
/* General section: */

body {
	font-size: 16px;
	font-family: 'Montserrat', "Arial", sans-serif;
	/* Imported weights: 400, 700, 900 */
	font-weight: 400;

	background-color: #FFF0DB
}


h2 {
	font-size: 2rem;
	margin-bottom: 1.2rem;
	font-weight: 700;
}

p {
	margin-bottom: 1rem;
}

/* Navbar section: */
.navbar {
	position: sticky;
	top: 0px;
}

.navbar ul {
	background-color: #47664C;
	color: #FFF0DB;
	height: 4rem;
	font-weight: 700;

	display: flex;
	flex-wrap: nowrap;
    align-items: center;
}

.navbar li:first-of-type {
	flex-grow: 15;
}

.navbar li {
	flex-grow: 1;
}

.navbar .logo {
	background-image: url(../assets/coffee-beans.png);
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	position: relative;
	top: 30%;
	margin-top: -24px;
	margin-left: 16px;
}

.hero,
.benefits {
	height: 80vh;
	display: flex;
}

.hero-headline,
.benefits-headline {
	padding: 8rem 4rem 6rem 6rem;
	width: 55vw;
}

.hero-img {
	background-image: url(../assets/devin-avery-kAV1KsIiqgw-unsplash_edited.jpg);
	width: 45vw;
	background-position: center;
	border-bottom-left-radius: 45px;
}

.benefits-img {
	background-image: url(../assets/katya-ross-Adg9B8NTxj0-unsplash_edited.jpg);
	width: 45vw;
	background-position: center;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
}

.hero button {
	border-style: none;
	background-color: #47664C;
	color: #FFF0DB;
	font-weight: 700;

	width: 5rem;
	border-radius: 15px;
	padding: .5rem 1rem .5rem 1rem;
	
}

.benefits em {
	font-weight: 700;
	font-style: italic;
}

.benefits a,
.story a,
.footer .links a {
	text-decoration: none;
	color: #FFF0DB;
}

.benefits .buttonAlt a {
	color: #47664C
}

.benefits button {
	border-style: none;
	background-color: #47664C;
	color: #FFF0DB;
	font-weight: 700;
	
	width: 8rem;
	border-radius: 15px;
	padding: .5rem 1rem .5rem 1rem;
}

.benefits .buttonAlt {
	background-color: #FFF0DB;
	color:#47664C;
	border-style: solid;
	margin-left: 1rem;
}

.proof {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
}

.proofStories {
	display: flex;
	padding-top: 4rem;
}

.story {
	padding-left: 4rem;
	padding-right: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5rem;
}

.story * {
	margin-bottom: .5rem;
	text-align: center;

}

.story h4 {
	font-size: .8rem;
	
}

.story .authorRole {
	font-size: 1rem;
	font-weight: 700;
}

.story .authorStory {
	font-size: .8rem;
	margin-bottom: 1rem;
}

.story button {
	border-style: none;
	background-color: #47664C;
	color: #FFF0DB;
	font-weight: 700;
	
	width: 7rem;
	border-radius: 15px;
	padding: .5rem 1rem .5rem 1rem;
}

.authorImage {
	width: 75px;
	height: 75px;
	background-color: #47664C;
	border-radius: 45px;
	margin-bottom: 1rem;
}

.navbar a,
.hero a {
	text-decoration: none;
	color: #FFF0DB;
}

.footer a {
	text-decoration: none;
	color: #000;
	padding: 0;
}

.footer {
	background-color: #47664C;
	color: #FFF0DB;
	display: flex;
	flex-direction: column column-reverse
}

.footer .links {
	font-weight: 700;
	padding: 2rem 6rem 2rem 50vw;
	/* padding-left: 4rem; */
}

.footer .credits {
	color: #000;
	padding: 2rem;
	font-size: .8rem;
	padding: 2rem;
	align-self: center;
}

.credits h4 {
	padding-bottom: 1rem;
	font-weight: 700;
}

.credits p {
	margin-bottom: 0rem;
}

.links * {
	padding: .5rem;
}

.mission,
.store,
.stories,
.team {
	padding: 5rem;
}

.team h4 {
	font-weight: 500;
	font-size: 1.4rem;
	padding-bottom: .6rem;
}

.team p {
	padding-bottom: 1rem;
}

.team .personPicture {
	background-color: #47664C;
	height: 5rem;
	width: 5rem;
	border-radius: 45px;
	margin-bottom: 1rem;
}

.post {
	padding-left: 2rem;
	padding-right: 2rem;
}

.postTitle {
	margin-bottom: 10px;
	font-size: 1.4rem;
}

.postDetails {
	margin-bottom: 1rem;
}

.postContent {
	font-size: 1.2rem;	
	margin-bottom: 4rem;
}

@media screen and (max-width: 576px) {
	body {
		font-size: .8rem;
	}

	.hero {
		flex-direction: column-reverse;
	}
	.benefits {
		flex-direction: column;
	}
	.hero-headline,
	.benefits-headline {
		padding-top: 2rem;
	}
	.hero-img,
	.benefits-img {
		height: 30vh;
		width: 100vw;
		background-size: cover;
		border-radius: 0;
	}
	.hero button,
	.benefits button,
	.story button {
		width: 5rem;
		font-size: .6rem;
	}
	h2 {
		font-size: 1.2rem;
	}
	.proofStories {
		padding-top: 2rem;
		flex-direction: column;
	}
	.proofStories button {
		width: 6rem;
	}
	.proof .story {
		padding-left: 1rem;
		padding-right: 1rem;
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 577px) and (max-width: 767px) {
	body {
		font-size: .8rem;
	}
	
	.proof .story {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.footer .link {
		padding: 2rem 2rem 2rem 10vw;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: .8rem;
	}
	.proof .story {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	
}

@media screen and (min-width: 1200px) {
}


