/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My code starts here. */
/* General section: */

body {
	font-size: 16px;
	font-family: 'Montserrat', "Arial", sans-serif;
	/* Imported weights: 400, 700, 900 */
	font-weight: 400;

	background-color: #FFF0DB
}

/* Navbar section: */
.navbar {
}

.navbar ul {
	background-color: #47664C;
	color: #FFF0DB;
	height: 4rem;
	font-weight: 700;

	display: flex;
	flex-wrap: nowrap;
    align-items: center;

	/* justify-content: center; */
}

.navbar li:first-of-type {
	flex-grow: 7;
}

.navbar li {
	flex-grow: 1;
}

.navbar .logo {
	background-image: url(../assets/coffee-beans.png);
	background-repeat: no-repeat;
	
	width: 48px;
	height: 48px;
	position: relative;
	top: 30%;
	margin-top: -24px;
	margin-left: 16px;
}

.hero {
	height: 80vh;
	display: flex;
}

.hero-headline {
	width: 50%;
	padding: 4rem 3rem 2rem 4rem;
}

.hero h2 {
	font-size: 2rem;
	margin-bottom: 1.2rem;
	font-weight: 700;
}

.hero p {
	margin-bottom: 1rem;
}

.hero button {
	border-style: none;
	background-color: #47664C;
	color: #FFF0DB;
	font-weight: 700;

	width: 5rem;
	border-radius: 15px;
	padding: .5rem 1rem .5rem 1rem;
	
}

.hero-img {
	background-image: url(../assets/devin-avery-kAV1KsIiqgw-unsplash.jpg);
	background-repeat: no-repeat;
	background-position-y: center;
	border-bottom-left-radius: 15px;
	width: 45%;
	/* height: 70vh; */
}
